@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #1F252A;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #405365;
}

#column-2 {
  background: #BAB5A4;
}

#column-3 {
  background: #975C33;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #1F252A;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #405365;
  }

  #column-1 {
    background-color: #975C33;
  }

  #column-2 {
    background-color: #6E665E;
  }

  #column-3 {
    background-color: #1F252A;
  }

  footer {
    background-color: #405365;
  }

}

/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #975C33;
  }

  #column-1 {
    background-color: #6E665E;
  }

  #column-2 {
    background-color: #405365;
  }

  #column-3 {
    background-color: #BAB5A4;
  }

  footer {
    background-color: #975C33;
  }

}
